<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.6.0/css/bootstrap.css" rel="stylesheet" />
    <link th:href="@{../static/style.css}" rel="stylesheet" type="text/css"/>
    <title>All users</title>
</head>
<body>
<header>
    <nav id="nav-header" class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <h2>[[${user.getLogin()}]] with roles: [[${userRolesString}]]</h2>
    </nav>
</header>
<table>
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Roles</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Contact</th>
    </tr>

    <tr th:each="cur_user : ${users}">
        <td th:text="${cur_user.getId()}"></td>
        <td th:text="${cur_user.getLogin()}"></td>
        <td th:text="${userRolesString}"></td>
        <td th:text="${cur_user.getName()}"></td>
        <td th:text="${cur_user.getSurname()}"></td>
        <td th:text="${cur_user.getPosition()}"></td>
        <td th:text="${cur_user.getSalary()}"></td>
        <td th:text="${cur_user.getContact()}"></td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>

</table>

<br>

<form action="admin/add">
    <button>Add</button>
</form>
<br>
<form th:action="@{/user}" method="get">
    <button type="submit">Go to your user page</button>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>